<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .add-movie-button {
            display: inline-block;
            background-color: #007BFF;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            font-size: 20px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<h1>Streaming Library</h1>

{% for movie in movies %}
    <div>
        <h2>{{ movie.title }}</h2>
        <p>Year: {{ movie.year }}</p>
        <p>Type: {{ movie.type }}</p>
        <img src="{{ movie.poster }}" alt="{{ movie.title }}">
    </div>
{% empty %}
{% endfor %}
    <p>No movies found.</p>
<form action="{% url 'streaming_app:add_movie' %}" method="get">
    <label>
        <input type="text" name="search_query" placeholder="Search for a movie..." required>
    </label>
    <button type="submit" class="add-movie-button">+</button>
</form>
</body>
</html>