<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ movie.title }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <a href="{% url 'streaming_app:index' %}" class="home-icon btn btn-light position-absolute text-dark" style="top: 40px; left: 20px; font-size: 24px; text-decoration: none;">
        <span class="material-icons">home</span>
    </a>
    <h1>{{ movie.title }}</h1>
    <p>Year: {{ movie.year }}</p>
    <p>Genres: {% for genre in movie.genres.all %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p>Director: {{ movie.director }}</p>
    <p>Plot: {{ movie.plot }}</p>
    <p>Metascore: {{ movie.metascore }}</p>
    <img src="{{ movie.poster }}" alt="Poster for {{ movie.title }}">
</body>
</html>